header {
  width: 100%;
  height: 50px;
  background-color:rgb(20, 73, 94) ;
  position: fixed;
  top: 0;
  left: 0;
}

#navigation li {
height:100%;
width: auto;
font-family: 'Itim';
display: inline-block;
padding-right: 10px;
padding-left: 10px;

}


#navigation ul{
    padding-left: 0;
}

body{
  background-color:#fcfcfc;
  padding-bottom: 50px;
  
}

p {
  font-family: 'Itim';
  font-size: large;
  
}

.pagecontent li {
  font-family: 'Itim';
  font-size: larger;
  
}

h1{
  font-family: 'Days One';
  font-size: xx-large;
}

h2{
  font-family: 'Changa';
  font-size: x-large;
}

h3{
  font-family: 'Varela Round';
  font-weight: 700;
  font-size: larger;
}

.pagecontent{
  padding-top: 100px;
}

#gridContainer{
  width: 60%;
  display: inline-grid;
  grid-template-columns: auto auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

#gridItem-2{
padding-left: 50px;
}

#pfp {
  float: right;
  border-radius: 10%;
}

nav a {
  color:#F7F6F6;
}

a:link{
  text-decoration: none;
  color:rgb(7, 6, 11);
}

nav a:visited{
  text-decoration: none;
  color: #F7F6F6;
}

nav a:hover{
  text-decoration: none;
  color: rgb(7, 6, 11);
}

a:active{
  text-decoration: none;
  color: rgb(62, 60, 70);
}

#jobLink{
  font-family: 'Itim';
}

#B5{

  
}